{% extends 'main/base.html' %}
{% block body %}
Takes facial features of Destination Image and Blends it with Source Image
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">

<table>
	<thead>
		<tr>
			<th> Source </th>
			<th> Dest </th>
			<th> Output </th>

		</tr>
	</thead>

	<tbody>
		<tr>
			<td> <a type="button" class="btn btn-primary" href="{% url 'main:upload_source_image' %}">Upload Source</a> </td>
			<td> <a type="button" class="btn btn-primary" href="{% url 'main:upload_dest_image' %}">Upload Dest</a> </td>
			<td> <a type="button" class="btn btn-primary" href="{% url 'main:blend' %}"> Blend </a> </td>
		</tr>
		<tr>
			<td> <img src='{{source_image.im_field.url}}' style="max-height:100%; max-width:100%"> </img> </td>
			<td> <img src='{{dest_image.im_field.url}}' style="max-height:100%; max-width:100%"> </img> </td>
			<td> <img src='{{output_image.im_field.url}}' style="max-height:100%; max-width:100%"> </img> </td>
		</tr>

		
	</tbody>
</table>

</div>
</div>
</div>
</div>
</div>


{% endblock %}